*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.7;
  color: #777;
  padding: 2rem;
  box-sizing: border-box; }

@keyframes slide-to-right {
  from {
    transform: translateX(-50%);
    opacity: 0.1; }
  75% {
    transform: translateX(2%); }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-to-left {
  from {
    transform: translateX(50%);
    opacity: 0.1; }
  75% {
    transform: translateX(-2%); }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-to-top {
  from {
    transform: translateY(50%);
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    transform: translateY(-2%); }
  to {
    transform: translateY(0); } }

.header-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1rem;
  backface-visibility: hidden; }
  .header-primary--main {
    display: block;
    font-size: 3.8rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation: slide-to-right 1s ease-out; }
  .header-primary--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.23rem;
    animation: slide-to-left 1s ease-out; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 30rem; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 40rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.498); }
  .btn:hover::after {
    transform: scale(1.2);
    opacity: 0; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .header .logo {
    height: 3rem; }
  .header__heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__btn-container {
    position: relative;
    transition: all 0.2s;
    width: fit-content;
    margin: auto;
    background-color: #fff;
    animation: slide-to-top 0.5s 0.5s ease-out backwards; }
  .header__btn-container:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.311); }
  .header__btn-container:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.305); }
  .header__btn {
    color: #777;
    text-align: center;
    text-decoration: inherit; }

.row {
  max-width: 75rem;
  background-color: #eee;
  margin: 0 auto;
  color: white; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc(1 * ((100% - (2 - 1) * 6rem) / 2) + (1 - 1) * 6rem); }
  .row .col-1-of-3 {
    width: calc(1 * ((100% - (3 - 1) * 6rem) / 3) + (1 - 1) * 6rem); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (3 - 1) * 6rem) / 3) + (2 - 1) * 6rem); }
  .row .col-1-of-4 {
    width: calc(1 * ((100% - (4 - 1) * 6rem) / 4) + (1 - 1) * 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (4 - 1) * 6rem) / 4) + (2 - 1) * 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (4 - 1) * 6rem) / 4) + (3 - 1) * 6rem); }
